    <div class="row">
    <%= erb :"analysis/_statistics" if render_statistics?(@analysis)%>
    <%= "<h2> We're having problems analyzing your code </h2>" unless render_statistics?(@analysis)%>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= erb :"analysis/_design_analysis" if render_design(@analysis) %>
        <%= "<h2> Your Code is Clean </h2>" unless render_design(@analysis) %>
        </div>
      <div class="col-md-2"></div>
    </div>
