<h1>Welcome to Recode!</h1>
<form action="/" method="post">
  <input type="string" name="username">Your Username
  <input type="submit" value="Submit">
</form>
<form action="/analysis" method="post">
  <input type="string" name="code">Your Code
  <input type="submit" value="Submit Your Code">
</form>
