<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<h1>Welcome to Recode!</h1>


<form action="/" method="post">
  <input type="string" name="username">Your Username
  <input class="mdl-button" type="submit" value="Submit">
</form>

<form action="/analysis" method="post">
  <div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" name="code"type="text" rows= "1" id="sample5" ></textarea>
    <label class="mdl-textfield__label" for="sample5">Your Code...</label>
  </div>
  <br>
  <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"type="submit" value="Submit Your Code">
</form>

<style>
.demo-list-icon {
  width: 300px;
}
</style>

<ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">keyboard_arrow_right</i>
    Test Repo
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">verified_user</i>
      Test Repo
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">insert_emoticon</i>
        Test Repo
</span>
