body {margin-left: 100px;}

.design-holder {
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgba(192, 192, 192, 0.3);
  border: 1px solid grey;
  border-radius: 7px;
}

.demo-list-three {
  width: 650px;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: black;
  height: 200px;
  background: url('http://cdn1.cloudpro.co.uk/sites/cloudprod7/files/storage%20files.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
