<div class="design-holder">
  <p><strong data-toggle="tooltip" title="Global Variables denoted by $variable are usually a poor design choice.">Global Variable -</strong> You have <%= @analysis[:GlobalVariable][:number] %> global variables in your code: </p>
  <ul>
    <% @analysis[:GlobalVariable][:name].each do |name| %>
      <li>
        <%= name %>
      </li>
    <% end %>
  </ul>
  <p><a class="resource-link" href="http://ruby.about.com/od/variables/a/Global-Variables.htm">This blog post explores why we shouldn't use global variables</a>
</div>
