<p><strong>Inheritence Over Composition -</strong> The class <em><%= @analysis[:Inheritence][:child] %></em> inherits from the class <em><%= @analysis[:Inheritence][:parent] %></em>. Favour composition over inheritence. Can it be refactored?</p>
