<div class="design-holder">
<p><strong  data-toggle="tooltip" title="In Ruby we prefer to use composition (modules etc) over inheritence.">Inheritence Over Composition -</strong> The class <em><%= @analysis[:Inheritence][:child] %></em> inherits from the class <em><%= @analysis[:Inheritence][:parent] %></em>. Favour composition over inheritence. Can it be refactored?</p>
<p><a class="resource-link" href="http://ruby.about.com/od/variables/a/Global-Variables.htm">This blog post explores why we shouldn't use global variables</a>
</div>
