  <p><strong>Lazy Poltergeist -</strong> The class <em><%= @analysis[:LazyPoltergeist][:class] %></em> has been identified as a lazy poltergeist. It has <%= @analysis[:LazyPoltergeist][:number_methods] %> methods and <%= @analysis[:LazyPoltergeist][:number_attributes] %> attributes. Is it needed?  </p>
