<div class="design-holder">
  <p><strong data-toggle="tooltip" title="When your classes expose their internal state to the world. ">Object Orgy -</strong> You have <%= @analysis[:ObjectOrgy].length %> attribute accessors in your code: </p>
  <ul>
    <% @analysis[:ObjectOrgy].each do |name| %>
      <li>
        <%= name[:class] %> has an accessor on <%= name[:accessor] %>.
      </li>
    <% end %>
  </ul>
  <p>Unlike real life, an object orgy is not good times. When your classes are poorly encapsulated, classes can reach into each other and change their internals.<a class="resource-link" href="https://goo.gl/zeKc7H">This blog post explores why we shouldn't use global variables</a>
</div>
